body{
    position: relative;
    overflow-x: hidden;
  }



   #first{
   margin-left: 0vh;
    margin-top: 20vh;
    font-size: 65px;
    width: fit-content
  }
  #second{
    margin-top: 0vh;
    margin-left: 0vh;
    margin-right: 95vh;
    font-size: 18px;
  } 


html {
  scroll-behavior: smooth; 
}
 section {
  height: 100vh; 
  box-sizing: border-box;
  scroll-snap-align: start;
} 
.bg-image-img{

width: 100vw;
height: 100vh;
object-fit: cover; /* Makes the image cover the container */

top: 0;
left: 0;
z-index: 0}

.main-image-img{
 
  transform: translate(10%, -12%);
  z-index: 0;
  width: 85vw; 
  height:95vh; 
}
.gradient-img{

  transform: translate(95%, -45%);
  z-index: 1;
 margin-left: 26%;
  
}

.image{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item4{
  text-align: justify;  /* Align the text evenly across the width */
  display: flex;        /* Use Flexbox for vertical centering */
  justify-content: center;
 /* Vertically center the text */
  box-sizing: border-box;
}

.h {
  position: sticky;
  top: 0; /* Sticks to the top of the viewport */
  left: 0;
  width: 100%;
  
  background-color:black; /* Add background for better visibility */
  z-index: 100; /* Ensure it's above other content */
  /* padding: 10px 20px; */
  height: 20px;
  opacity: ;
  
}

.a {

  font-size: 18px; 
  cursor: pointer;
}

.active {
  color: #FFD700; /* Change color when the section is active */
}