body{
    position: relative;
    overflow-x: hidden;
  }
  /* .first{
    height: 100vh;
    width: 50vw;
  } */

   #first{
   margin-left: 0vh;
    margin-top: 20vh;
    font-size: 65px;
    width: fit-content
  }
  #second{
    margin-top: 0vh;
    margin-left: 0vh;
    margin-right: 95vh;
    font-size: 18px;
  } 


html {
  scroll-behavior: smooth; 
}
 section {
  height: 100vh; 
  box-sizing: border-box;
  scroll-snap-align: start;
} 
.bg-image-img{

width: 100vw;
height: 100vh;
object-fit: cover; /* Makes the image cover the container */

top: 0;
left: 0;
z-index: 0}

.main-image-img{
 
  transform: translate(10%, -12%);
  z-index: 0;
  width: 85vw; 
  height:95vh; 
}
.gradient-img{

  transform: translate(95%, -45%);
  z-index: 1;
 margin-left: 26%;
  
}

.image{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item4{
  text-align: justify;  /* Align the text evenly across the width */
  display: flex;        /* Use Flexbox for vertical centering */
  justify-content: center;
 /* Vertically center the text */
  box-sizing: border-box;
}
