body{
    position: relative;
  }

   #first{
   margin-left: 10vh;
    margin-top: 30vh;
    font-size: 70px;
  }
  #second{
    margin-top: 45vh;
    margin-left: 10vh;
    margin-right: 95vh;
    font-size: 18px;
  } 


html {
  scroll-behavior: smooth; 
}
 section {
  height: 100vh; 
  box-sizing: border-box;
  scroll-snap-align: start;
} 
.bg-image-img{

width: 100vw;
height: 100vh;
object-fit: cover; /* Makes the image cover the container */

top: 0;
left: 0;
z-index: 0}

.main-image-img{
 
  transform: translate(13%, -10%);
  z-index: 1;
  width: 85vw; 
  height:97vh; 
}

.image{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


