/* Events */

position: absolute;
width: 593px;
height: 127px;
left: 741px;
top: 264px;

font-family: 'Ethnocentric';
font-style: normal;
font-weight: 400;
font-size: 105.723px;
line-height: 127px;
/* identical to box height */

background: linear-gradient(180deg, #FFFFFF 27.53%, #EE384E 81.95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

