@font-face {
    font-family: "Spaced";
    src: url(../../assets/Fonts/Spaced\ TTF.ttf);
}
@font-face {
    font-family: "Ethno";
    src: url(../../assets/Fonts/ethnocentric\ rg\ it.otf);
}
.main-div{
    height: 90vh;
    background-color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
}
.main-div img{
    height: 78vh;
    width: auto;
    mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  z-index: 2;
  will-change: transform; /* Optimize for smooth performance */
    transition: transform 0.1s ease-out;

}
.typewriter{
    font-family: "Spaced";
    font-size: 30px;
    color: #e5e3de;
    width: 410px;
    margin-left: 45px;
}
.typewriter{
    position: relative;
}
.typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #eeeae1;
    background-color: #000000;
    width: 100%;
    animation: typing 10s steps(26) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}

.nerds{
    width: 100%;
    font-size: 140px;
    color: white;
    z-index: 0;
    position: absolute;
    bottom: 0;
    font-family: "Ethno";
    display: flex;
    line-height: 200px;
    justify-content: space-between;
    align-items: center;
    animation: tubelightFlickerSmooth 1.5s ease-in;
}
@keyframes tubelightFlickerSmooth {
    0%, 15%, 30%, 100% {
        opacity: 1;
    }
    5%, 20%, 50%, 70% {
        opacity: 0.4;
    }
    10%, 25%, 55%, 75% {
        opacity: 0.8;
    }
    60%, 90% {
        opacity: 0.6;
    }
}
@media screen and (max-width: 939px) {
    .nerds{
        font-size: 120px;
    }
}
@media screen and (max-width: 768px) {
    .nerds{
        font-size: 100px;
    }
}
@media screen and (max-width: 581px) {
    .nerds{
        font-size: 80px;
    }
}
@media screen and (max-width: 509px) {
    .nerds{
        font-size: 60px;
    }
}
@media screen and (max-width: 447px) {
    .typewriter{
        margin-left: 20px;
    }
}
@media screen and (max-width: 423px) {
    .typewriter{
        margin-left: 10px;
    }
}
@media screen and (max-width: 416px) {
    .typewriter{
        font-size: 25px;
        margin-left: 40px;
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .typewriter{

        margin-left: 30px;

    }
}