.slick-dots li button:before {
  color: white; /* Change the default dot color to white */
  opacity: 0.75; /* Make the inactive dots a little translucent */
}

.slick-dots li.slick-active button:before {
  color: white; /* Active dot color */
  opacity: 1; /* Fully visible for active dot */
}

body{
  position: relative;
  background-color: black;
}
.content-section{
background: black;
  animation: motion infinite 5s;
}

.quote {
  color: #fbbf24; /* Yellow color for the quotes */
  font-size: 1rem; /* Adjust size as needed */
  font-weight: bold; /* Optional: Makes the text bold */
}