@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Spaced";
  src: url("/src/assets/Fonts/Spaced OTF.otf") format("opentype");
}

@font-face {
  font-family: "Ethenocentric";
  src: url("/src/assets/Fonts/ethnocentric rg.otf") format("opentype");
}



